<div class="container">
  <h1 class="text-center">Retro Rentals</h1>
  <h3 class="text-center">Video Games</h3>
    <div>
      <ul class="list-unstyled">
        <% @video_games.each do |video_game| %>
          <li><%= link_to video_game.title, video_game_path(video_game), class: "text-decoration-none" %></li>
        <% end %>
      </ul>
    </div>
      <%= link_to "Home", root_path, class: "text-decoration-none" %>
</div>
