<div style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('<%= image_path "ps-wallpaper.jpg"%>')">
<div class="text-center container d-flex justify-content-center col-sm-7 card mb-3 ">
    <div class=" card-category shadow-none" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url('<%= image_path "missionpassed.jpg"%>')">
    </div>
  <h1>Booking confirmed!</h1>
  <h2>You've booked <%= @video_game.title %></h2>
  <br>
  <%= link_to "Back to Video Games", video_games_path, class: "btn btn-flat" %>
</div>
</div>
