<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "pacman-wallpaper.jpg" %>')">
  <div class="container">
    <h1>RETRO RENTALS</h1>
    <p>The best darn retro video game store in town/on the web!</p>
    <%= link_to "Video Games", video_games_path, class: "btn btn-flat" %>
  </div>
</div>
