<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "pacman-wallpaper_lcifmd.jpg" %>')">
  <div class="container">
    <h1>RETRO RENTALS</h1>
    <p>The online video game rental store</p>
    <p>Free delivery for all members</p>
    <%= link_to "PRESS START BUTTON", video_games_path, class: "btn btn-flat" %>
  </div>
</div>
