<div class="container">
  <h1 class="text-center">Retro Rentals</h1>
  <h3 class="text-center">Video Games</h3>
  <p class="text-center">The best darn retro video game store in town/on the web!</p>
    <div>
      <%= link_to "Video Games", video_games_path, class: "text-decoration-none" %>
    </div>
</div>
